.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ensuring pagination is at the bottom */
.table-responsive {
  display: flex;
  flex-direction: column;
  min-height: 300px; /* Adjust the minimum height based on your table content */
}

.pagination {
  margin-top: auto;  /* Push pagination to the bottom */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #007bff;
  color: #fff;
}
